body {
  font-family: Garamond;
}

.header {
  font-style: italic;
}
#menu-table,
tr {
  text-align: left;
  background-color: #f2f2f2;
  width: 100%;
}
#menu-table tr:nth-child(2n - 2) {
  background-color: rgb(220, 220, 220);
}
#menu-table thead > tr > th {
  background-color: rgba(0, 0, 0, 0);
  padding: 5px 0 5px 0;
}

.menu-layout {
  text-align: center;
  max-width: 740px;
  margin: auto;
}
.comment {
  display: flex;
  margin-top: 0;
  margin-bottom: 20px;
}
.comment-rating {
  display: inline-flex;
  align-self: top;
  width: 10%;
}
.comment-text {
  display: inline-flex;
  text-align: justify;
  padding-left: 20px;
  padding-right: 20px;
  width: 70%;
}
.remove-button {
  height: 20px;
  width: 20%;
  align-self: top;
}
.input-area {
  display: flex;
}
textarea {
  width: 100%;
  height: 100px;
  margin-left: 20px;
  margin-bottom: 20px;
}
.select-rating {
  display: inline-flex;
  height: 20px;
}

.checked {
  color: orange;
}
